parameters:
    level: 9
    paths:
        - Arr
        - DataSanitizer
        - Demo
        - JsonSchema
        - OpenApi
        - SanitizerAttributes
        - Schema
        - SchemaAttributes
        - SchemaConditions

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
