parameters:
    level: 9
    paths:
        - Demo
        - JsonSchema
        - OpenApi
        - Schema
        - SchemaAttributes

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
