<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        backupGlobals="false"
        beStrictAboutCoversAnnotation="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutTodoAnnotatedTests="true" verbose="true"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">Arr/src</directory>
      <directory suffix=".php">DataSanitizer/src</directory>
      <directory suffix=".php">JsonSchema/src</directory>
      <directory suffix=".php">OpenApi/src</directory>
      <directory suffix=".php">SanitizerAttributes/src</directory>
      <directory suffix=".php">Schema/src</directory>
      <directory suffix=".php">SchemaAttributes/src</directory>
      <directory suffix=".php">SchemaConditions/src</directory>
    </include>
  </coverage>
  <testsuite name="all">
    <directory suffix="Test.php">Arr/tests</directory>
    <directory suffix="Test.php">DataSanitizer/tests</directory>
    <directory suffix="Test.php">JsonSchema/tests</directory>
    <directory suffix="Test.php">OpenApi/tests</directory>
    <directory suffix="Test.php">SanitizerAttributes/tests</directory>
    <directory suffix="Test.php">Schema/tests</directory>
    <directory suffix="Test.php">SchemaAttributes/tests</directory>
    <directory suffix="Test.php">SchemaConditions/tests</directory>
  </testsuite>
</phpunit>
